<h1>Weather forecast</h1>

<p *ngIf="!forecasts">
  <em>Loading...</em>
</p>

<p *ngIf="ngServing" class="text-danger">
  Serving from the brwoser, no SSR. Replacing :4200 with :5000 so that webapi works and adding a subdomain (foo.)
  <br> This should prove that CORS is working fine.
</p>

<pre>API URL: {{url}}</pre>

<pre *ngIf="forecasts">{{forecasts | json}}</pre>

<pre *ngIf="error">{{error}}</pre>

<h1>Github API</h1>

<pre *ngIf="githubData">{{githubData | json}}</pre>
<pre *ngIf="githubError">{{githubError}}</pre>
